body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.container {
	margin: auto;
	width: 80%;
}

.main-content-cards {
	display: flex;
	flex-wrap: wrap;
}

.main-img {
	flex: 1!important;
}

.main-content-cards .main-img {
	padding-bottom: 20px;
}

.main-content-cards img {
	width: 378px!important;
	height: 244px!important;
}
